body{
    background-image: url(../images/ac.jpg);

}
.letra{
    padding-top: 10%;
}
#container{
    display: flex;
    justify-content: space-evenly;
    width: 100vh;
    height: 100vh;
    flex-wrap: wrap;
    align-content:space-around;
    margin-left: 50px;
    
}

/*Estilo de las imagenes cargadas*/
.image1{
    background-image: url(../images/back_mantel.jpg);
    border: 2px solid black; 
    height: 20%;
    width: 20%;
    text-align: center;
}
.image2{
    background-image: url(../images/dh.jpg);
    border: 2px solid black; 
    height: 20%;
    width: 20%;
    text-align: center;  
}
.image3{
    background-image: url(../images/dh_2.jpg);
    border: 2px solid black; 
    height: 20%;
    width: 20%;
    text-align: center;  
}
.image4{
    background-image: url(../images/dh_3.jpg);
    border: 2px solid black; 
    height: 20%;
    width: 20%;
    text-align: center;  
}
/*Estilo general del container de las imagenes*/
.image{
    border: 2px solid black; 
    height: 20%;
    width: 20%;
    text-align: center;  
}

/*Estilo persolanizado de cada panel de imagenes*/
#mantel2{
   
    background-clip: content-box;
    
}
#mantel3{
    background-size: contain;
}
#mantel4{
    background-size:80%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
#mantel5{
    background-size: contain;
}
#mantel6{
    background-size:80%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
#mantel7{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
#mantel8{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
#mantel9{
    background: linear-gradient(to right, #00ff00, #305938);
}
#mantel10{
    background: linear-gradient(to bottom, #ebc09e, #3a1b01);
}
#mantel11{
    background: linear-gradient(to bottom, #e7f2e7, #305938);
}
#mantel12{
    background: linear-gradient(to bottom, transparent, #305938);
}