body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 600px; 
  }
  
  .container img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px ridge grey;
    border-collapse: collapse;
    width: 80%;
  }
  th{
    background-color: white;
  }
  td {
    background-color: darkkhaki;
  }
  
  td, th {
    border: 1px ridge grey;
    text-align: center;
  }