table{
   
    border: 5px double cornflowerblue;
    border-collapse: separate;
    border-spacing: 0;
   
}

th{
    background-color: rgb(0, 16, 0);
    color: rgb(166, 226, 166);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid cornflowerblue;
   
}
td{
    border: 1px solid cornflowerblue;
    font-weight: bold;
    font-size: smaller;
   
  
}
tr.rowEven{
    background-color:rgb(91, 121, 91);
}
tr.rowOdd{
    background-color:  rgb(166, 226, 166);
}